.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 52px 98px;
}

.header_H {
    color: #758BFD;
    font-size: 40px;
}

.header_list {
    display: inline-block;
    font-size: 24px;
}

.news_color {
    color: #27187F;
}

.list_color {
    color: #758BFD;
    ;
}

.middle_l {
    padding: 0 50px;
}


.fa-magnifying-glass {
    padding: 12px 8px 12px 182px;
    ;
    border-radius: 10px;
    border: 3px solid #758BFD;
}

/* section */
.section {
    background-color: #DDEAF8;
}
.section_h{
    color: #27187F;
    font-size: 32px;
    padding: 115px 98px 68px 98px;
}
.section_div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 22px;
    row-gap: 51px;
    padding: 98px 115px;
}
.figure{
    background-color: white;
    padding: 33px 20px;
    border: solid white;
    border-radius: 10px;
}
.section_txt{
    color: #133B3A;
    font-size: 20px;
    padding: 33px 0;
}
